* {
  color:#525252;
}

.grid {
  display:grid;
  grid-template-columns:1fr 4fr 1fr;
  grid-template-rows:5em 22em 5em 16em 7.5em;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

.container {
  grid-row:2/6;
  grid-column:2/4;
  background-image:url('../assets/images/bgDefault.jpg'); /* maybe fix this */
  background-size: cover;
  display:grid;
  grid-template-rows:1fr 1fr;
}

/* grids */
.main {
  grid-row:1/3;
  grid-column:1;
  display:grid;
  grid-template-rows:1fr 1fr 10fr 1fr;
  grid-gap:1em;
  padding:1em;
  height:90vh;
}

.newTaskBox {
  display:grid;
  grid-template-columns:8fr 2fr 1fr 1fr 1fr;
  grid-gap:1em;
  width:100%;
  border: 1px solid #525252;
  border-radius:10px;
  padding:1em;
}

.newTaskName {
  grid-column:1;
  font-size:1em;
  padding:0.5em;
}

.newTaskBtn {
  grid-column:4;
  color: white;
}

.deleteBtn {
  background-color:#c43d3d;
  color: white;
}


.stopwatch {
  grid-column:3;
  display:grid;
  grid-template-columns:repeat(5, 3fr 1fr);
  grid-template-rows:1fr;
  height:100%;
}

.stopwatchDiv {
  text-align:center;
  color:#525252;
}

.swelement {
  font-size:1.3em;
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100%;           
}

.viewOption {
  display:flex;
  width: fit-content;
  margin: 1em;
  border-radius: 10px;
  background-color: #026670;
}

.option {
  padding: 0.5em 1.5em;
  text-align: center;
  color: white;
}


.list {
  background-color:white;
  border-radius:1em;
  display:grid;
  grid-template-rows:repeat(10, 1fr);
  grid-gap:1em;
  padding:1em;
  overflow-y:scroll;
  opacity:0.9;
}

.record {
  display:grid;
  margin-top: 0em;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
  opacity:1;
}

.projectName {
  border-radius:10px;
  padding:10px;
  text-wrap-mode:nowrap;
}

.downloadBtn {
  margin: 0 0 0 auto;
  padding: 0.8em;
  border-radius: 5px;
  text-wrap-mode: nowrap;
}


