.grid {
  display:grid;
  grid-template-columns:1fr 4fr 1fr;
  grid-template-rows:5em 22em 5em 16em 7.5em;
  width:100vw;
  height:100vh;
  overflow-x: hidden;
}

.container {
  grid-row:2/6;
  grid-column:2/4;
  background-image:url('../assets/images/bgDefault.jpg'); /* maybe fix this */
  background-size: cover;
  display:grid;
  grid-template-columns:5fr 1fr;
  grid-template-rows:1fr 1fr;
}

/* grids */
.main {
  grid-row:1/3;
  grid-column:1;
  display:grid;
  grid-template-columns:1fr 8fr 1fr;
  grid-template-rows:1fr 6fr;
  grid-gap:1em;
  padding:1em;
}


/* add button */
.add {
  grid-row:1;
  grid-column:1;
  background-color:#026670;
  border-radius:50%;
  margin:20px;
  border:none;
  color:white;
  font-size:2.5em;
  height:1.5em;
  width:1.5em;
  cursor:pointer;
}

.add:hover {
  background-color:#2f747b;
}

/* to do list entry */
.list {
  background-color:rgba(237, 237, 237, 0.863);
  border-radius:1em;
  grid-row:2;
  grid-column:1/4;
  display:grid;
  grid-template-rows:repeat(10, 1fr);
  grid-gap:1em;
  padding:1em;
  overflow-y:scroll;
  opacity:0.9;
}

/* right sidebar */

.filterContainer {
  margin:1em 1em 1em 0em;
  border-radius:1em;
  grid-column:2;
  grid-row:1;
  background-color:white;
  padding:0.5em;
  overflow-y:scroll;
  opacity:0.9;
}

/* tags list */
.tagList {
  cursor:pointer;
  font-weight: bold;
}

.tag {
  cursor:default;
  border-radius:0.18em;
  overflow-wrap: break-word;
  padding:0.1em;
  display: block;
  font-weight:normal;
}

.tag:hover {
  cursor:default;
  border-radius:0.18em;
  overflow-wrap: break-word;
  padding:0.1em;
  display: block;
  font-weight:normal;
  background-color:rgb(221, 221, 221);
}
/* priority list */

.priorityList {
  cursor:pointer;
  font-weight: bold;
}

.pr {
  text-indent:5%;
  border-radius:0.18em;
  cursor:default;
  transition: background-color 0.2s;
  margin:0.2em;
}

.priorityCount {
  font-weight: bold;
}


.reminderContainer {
  margin:1em 1em 1em 0em;
  grid-row:2;
  background-color:white;
  border-radius:1em;
  display:grid;
  grid-template-rows:1fr 7fr;
  overflow-y:scroll;
  padding:0.5em;
  opacity:0.9;
}


.rightHeading {
  text-align:center;
  align-self:center;
  line-height:1.5em;
  font-weight: bold;
}

.alertM {
  background-color:#FFD3D3;
  margin:0.5em;
  padding:0.3em 0.5em 0.1em 0.1em;
  display:grid;
  grid-template-columns:7fr 1fr;
  min-height:1.5em;
}

.alertClose {
  justify-self:center;
  cursor: pointer;
  color:#525252;
}

.alertClose:hover {
  color:black;
  cursor:pointer;
}

.liMes {
  justify-self:center;
  margin:15em auto;
  cursor:text;
  user-select:text;
}


