/* header */
.header {
  grid-column:2/4;
  grid-row:1;
  display:grid;
  height:5em;
  grid-template-columns:1fr 5fr 10fr 1fr 2fr;
  border-bottom:1px solid #aaa;
  z-index:1;
  position: relative;
}


.logo {
  grid-column:1;
  height:3em;
  align-self:center;
  cursor:pointer;
  justify-self:center;
}

.title {
  grid-column:2;
  align-self:center;
  text-decoration:none;
  font-weight: bold;
  color:#026670;
  font-size:1.5em;
  font-family: 'Montserrat Alternates', sans-serif;
}

/* user menu */
.usericon {
  grid-column:4;
  height:3em;
  justify-self:center;
  align-self: center;
  cursor:pointer;
}

.username {
  grid-column:5;
  align-self:center;
  text-decoration: none;
  font-weight:normal;
  cursor:pointer;
  font-size:1.1em;
}

.arrow {
  font-size:0.8em;
  cursor:pointer;
}

.dropDown {
  position:absolute;
  width: 100%;
  height: 100%;
}

.dropDownContent {
  position:absolute;
  right:1em;
  margin-top: 4em;
  background-color:white;
  padding-top:0.8em;
  width:7em;
  border:0.5px solid #ddd;
  display:grid;
  grid-template-rows: 1fr 1fr;
  border-radius:0.5em;
  box-shadow: 0px 10px 20px #EAEAEA99;
  opacity:1;
  z-index:2;
}

.dropDownContent > div {
  height:2em;
  align-self:start;
  padding-left:0.7em;
  cursor:default;
  transition-duration:0.5s;

}

.dropDownContent > div:hover {
  background-color:#eee;
  transition-duration:0.5s;
}