
/* each entry divided into 3 different sections */
.entry {
  display:grid;
  grid-template-rows: 1fr; 
  margin-top: 0em;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  opacity:1;
  transition:opacity 1000ms linear;
  border-radius:20px;
}

.entry:hover {
  background-color:#EBFCF8;
}

.entrytitle {
  grid-column:2;
  align-self:start;
  margin-top:0.3em;
  cursor:pointer;
  font-weight:bold;
}


.Low {
  color:green;
}

.Medium {
  color:#D3D56B;
}

.High {
  color:#D86E6E;
}

.Low, .Medium, .High {
  font-size:1.5em;
  text-align:center;
  justify-self:center;
  font-weight: bold;
  grid-column:3;
  grid-row:1;
}

/* container */
.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  padding-left:35px;
  font-size:1em;
  justify-self:center;
  cursor:pointer;
}

/* hiding the default checkbox */
.checkbox { /* This was originally "container input" */
  position: absolute;
  opacity:0;
  height:0;
  width:0;
}

/* custom checkbox */
.checkmark {
  position:absolute;
  top:3px;
  left:0;
  height:25px;
  width:25px;
  background-color:white;
  border:1px solid #525252;
  font-size:28px;
  border-radius:1em;
}

/* background color when not checked */
.container:hover input ~ .checkmark {
  border-color: #026670;
}

/* background color when checked */
.container input:checked ~ .checkmark {
  background-color:#026670;
}

/* create custom checkmark */
.checkmark:after {
  content:"L";
  font-weight: bold;
  font-size:0.8em;
  color:white;
  position:absolute;
  display:none;
  top:-10%;
}

/* show the checkmark when checkbox is checked */
.container input:checked ~.checkmark:after {
  display:block;
}



/* style the checkmark */

.container .checkmark:after {
  transform:scaleX(-1) rotate(-40deg);
  position:absolute;
  left:5px;
}

.container input:checked ~.checkmark::before {
  position:absolute;
  background-color:#3a9098;
  display:block;
  content:'';
  top:-100%;
  left:-100%;
  width:300%;
  height:300%;
  z-index:auto;
  clip-path: circle(20px at 50% 50%);
  opacity:0.1;
  z-index:auto;
  animation-name:glow;
  animation-duration:0.3s;
}

@keyframes glow{
  0% {opacity:0.8; clip-path:circle(20px at 50% 50%)}

  100% {opacity:0; clip-path:circle(28px at 50% 50%)}

}


.entrydes {
  grid-column:2;
  grid-row:2;
  display:none;
}

.entrydate {
  grid-column:2;
  grid-row:3;
  display: none;
}

.editIcon {
  margin-top:0.2em;
  grid-column:4;
  grid-row:1;
  cursor:pointer;
}

.deleteIcon {
  margin-top:0.2em;
  grid-column:5;
  grid-row:1;
  cursor:pointer;
}


