
.phrase {
  color:#525252;
  font-weight:bold;
   padding-top:0.5em;
  font-size:3em;
  grid-row:2;
}


.button {
  width:40%;
  appearance:none;
  -webkit-appearance:none;
  border-radius:10px;
  color:white;
  font-size:calc(0.8em + 0.5vw);
  cursor:pointer;
  border:none;
  border:1px solid #026670;
  min-height:3em;
  min-width:7em;
  text-decoration:none;
  transition-duration: 0.5s; 
  background-color:white;
  margin-top:0.5em;
  margin-bottom:0.5em;
  color:#026670;
  height:3.2em;
  grid-row:4;
}

.s3 {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
  padding:5% 0% 5% 10%;
}

.sub {
  grid-row:1;
  border-bottom:1px solid #525252;
  align-self: end;
}

.des {
  color:#525252;
  font-size:1.1em;
}


.button:hover {
  background-color: #026670;
  color:white;
}

#sub2 {
  grid-column:1;
}

#btn3 {
  grid-column:1;
}


#phrase3 {
  grid-column:1;
}

#des3 {
  grid-column:1;
}


.img3 {
  grid-column:2;
  grid-row:1/5;
  justify-self:center;
  align-self:center;
  width:95%;
  aspect-ratio:5/4;
  min-width:23em;
}