



@media screen and (max-width:936px) {
  .grid {
    grid-template-rows:80em 40em 40em 40em 26.5em 3.5em;
  }
  .heroDescription, .heroPhrase {
    text-align:center;
  }

  .heroButton {
    justify-self:center;
  }

  .heroImg {
    width:70%;
  }
}


.hero {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(24em, 1fr));
  justify-self:center;
  align-self:center;
  width:82%;
  margin-top:5em;
}

.heroContainer {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(24em, 1fr));
  grid-template-rows:2fr 1fr 0.8fr;
  width:100%;
}


@keyframes moveIn {
  0% {width:50%}
  100% {width:88%}

}

.heroImg {
  justify-self:center;
  align-self:center;
  width:88%;
  aspect-ratio:1;
  min-width:20em;
  animation-name:moveIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.description {
  color:#525252;
  font-size:1.1em;
}

.heroDescription {
  margin-right:1em;
  align-self:center;
}



.button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width:40%;
  appearance:none;
  -webkit-appearance:none;
  border-radius:10px;
  color:white;
  font-size:calc(0.8em + 0.5vw);
  cursor:pointer;
  border:none;
  border:1px solid #026670;
  min-height:3em;
  min-width:7em;
  text-decoration:none;
  transition-duration: 0.5s; 
}



.heroButton {
  margin-top:1em;
  margin-bottom:1em; 
  background-color: white;
  color: #026670;
  position:relative; 
  z-index:1;
}

.heroButton::before {
  width:100%; /*100% of the actual width */
  height:100%;
  appearance:none;
  -webkit-appearance:none;
  border-radius:10px;
  cursor:pointer;
  border:none;
  border:1px solid #026670;
  min-height:3em;
  text-decoration:none;
  background-color: #026670;
  content:'';
  position:absolute;
  -webkit-clip-path: circle(0% at 50% 50%);
  clip-path: circle(0% at 50% 50%);
  left:0px;
  top:0px;
  animation-name:slideOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  z-index:-1; /* essential */
}


.heroButton:hover::before { 
  width:100%; /*100% of the actual width */
  height:100%;
  appearance:none;
  -webkit-appearance:none;
  border-radius:10px;
  cursor:pointer;
  border:none;
  border:1px solid #026670;
  min-height:3em;
  text-decoration:none;
  background-color: #026670;
  content:'';
  position:absolute;
  -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  left:0px;
  top:0px;
  animation-name:slideIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  z-index:-1; /* essential */
}

@keyframes slideIn {
  0% {
    -webkit-clip-path: circle(30% at 50% 50%);
  clip-path: circle(30% at 50% 50%);
  }
  100% { 
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes slideOut {
  0% {
    -webkit-clip-path: circle(100% at 50% 50%);
  clip-path: circle(100% at 50% 50%);
  }
  100% { 
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
  }
}



.heroButton:hover {
  color: white;
  transition:0.3s;
}


.phrase {
  color:#525252;
  font-weight:bold;
}

.heroPhrase {
  font-size:calc(4.3em + 0.8vw);
}
